* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

/* Header styling starts here */
header {
    padding: 20px 10px 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(2, 110, 180);
}

header h1 {
    background-color: turquoise;
    padding: 0 0 0 20px;
}

header h1 a {
    color: rgb(0 23 114);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: underline 2px;
    text-underline-offset: 10px;
    color: turquoise;
}
/* Header styling ends here */

/* Hero styling begins here */
.hero {
    background-image: url("../images/hero-img-3.jpeg");
    background-size: cover;
    background-position:center;
    padding: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.hero h2 {
    color: rgba(24, 28, 44, 1);
    background-color: turquoise;
    position: relative;
    left: 180px;
    top: 180px;
    padding: 4px;
}
/* Hero styling ends here */

/* About Me styling starts here */
.my-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
}

.my-info div {
    flex-basis: 15%;
    flex-grow: 1;
}

.my-info h2 {
    text-align: right;
    color: rgb(2 110 180);
}

.my-info article {
    border-left: solid 3px rgb(2 110 180);
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    flex-basis: 75%;
    flex-grow: 1;
}
/* About Me styling ends here */

/* Work styling starts here */
.my-work {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
}

.my-work div {
    flex-basis: 15%;
    flex-grow: 1;
}

.my-work h2 {
    text-align: right;
    color: rgb(2 110 180);
}

div.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-left: solid 3px rgb(2 110 180);
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    flex-basis: 75%;
    flex-grow: 1;
}

div.surf-report  {
    border:solid 2px rgb(2 110 180);
    margin: 0 0 4px 0;
    flex-basis: 100%;
    padding: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-image: url("../images/surf-img.jpeg");
    background-position: center;
    background-size: cover;
}

.surf-report h3 {
    background-color: rgb(2 110 180);
    position: relative;
    top: 80px;
    right: 100px;
    text-align: right;
    width: fit-content;
    padding: 10px;
}

.surf-report a {
    text-decoration: none;
    color:antiquewhite
}

div.led-wall {
    flex-basis: 50%;
    border: solid 2px rgb(2 110 180);
    margin: 4px 4px 4px 0;
    padding: 50px;background-image: url("../images/led-img.webp");
    background-position: center;
    background-size: cover;
}

.led-wall h3 {
    background-color: rgb(2 110 180);
    position: relative;
    top: 30px;
    right: 50px;
    text-align: right;
    width: fit-content;
    padding: 10px;
}

.led-wall a {
    text-decoration: none;
    color:antiquewhite
}
    
div.calculator {
    border:solid 2px rgb(2 110 180);
    margin: 4px 0px 4px 4px;
    flex-grow: 50;
    padding: 50px;
    background-image: url("../images/calculator-img.jpeg");
    background-position: center;
    background-size: cover;
}
    
.calculator h3 {
    background-color: rgb(2 110 180);
    position: relative;
    top: 30px;
    right: 50px;
    text-align: right;
    width: fit-content;
    padding: 10px;
} 

.calculator a {
    text-decoration: none;
    color:antiquewhite
}

div.pastel-puzzles {
    flex-basis: 50%;
    border: solid 2px rgb(2 110 180);
    margin: 4px 4px 0px 0;
    padding: 50px;
    background-image: url("../images/pastel-puzzle-img.jpeg");
    background-position: center;
    background-size: cover;
}

.pastel-puzzles a {
    text-decoration: none;
    color:antiquewhite
}
    
.pastel-puzzles h3 {
    background-color: rgb(2 110 180);
    position: relative;
    top: 30px;
    right: 50px;
    text-align: right;
    width: fit-content;
    padding: 10px;
    color:antiquewhite;
}
    
div.run-buddy {
    border:solid 2px rgb(2 110 180);
    margin: 4px 0px 0px 4px;
    flex-grow: 50;
    padding: 50px;
    background-image: url("../images/hero-bg.jpeg");
    background-position: center;
    background-size: cover;
}
    
.run-buddy h3 {
    background-color: rgb(2 110 180);
    position: relative;
    top: 30px;
    right: 50px;
    text-align: right;
    width: fit-content;
    padding: 10px;
}

.run-buddy a {
    text-decoration: none;
    color:antiquewhite
}

.contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
}

.contact-info div {
    flex-basis: 15%;
    flex-grow:1;
}

.contact-info h2 {
    text-align: right;
    color: rgb(2 110 180);
}


.personal-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

section.personal-info {
    border-left: solid 3px rgb(2 110 180);
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    flex-basis: 75%;
    flex-grow:1;
}

.personal-info div {
    padding: 10px 10px;
    text-decoration: underline 2px;
    text-underline-offset: 2px;
    flex-basis: 20%
}
